body{
    background-image: url('awworld.webp');
    
    background-position: center;
    font-family: 'Times New Roman', Times, serif;
    color: antiquewhite;

}
table {
    border-collapse: collapse;
    border: 2px solid blue;
    margin: 0 auto;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 40px;
    text-align: center;

}